.idea/
.github/
.git/
.venv/
.stoplight/
__pycache__
*.DS_Store
*.pyo
venv/
evil_flowers_catalog.egg-info/
.editorconfig
.env
.env.example
.flake8
.gitignore
data/
logs/
media/
docs/
gen/
static/
compose.local.yml
